body {
    margin: 0;
    width: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background: transparent;
    
}

/* header */
.header {
    display: flex;
    background-color: #1F2937;
    height: 70px;
    font-weight: 700;
}

.main {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    align-items: center;
    padding-left: 20px;
}

.linkone, .linktwo, .linkthree {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    align-items: center;
    padding-right: 30px;
}

.linkone {
    margin-left: auto;
    margin-right: 20px;
}

.linkthree {
    margin-right: 20px;
    margin-left: 20px;
}

/* Body One */
.bodyone {
    display: flex;
    background-color: #1F2937; 
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding-bottom: 30px;
    padding-left: 30px;
}

.ppgirl {
    display: flex;
    font-size: 48px;
    font-weight: 1000px;
    color: #F9FAF8;
    padding: 100px;
    font-weight: 700;
    position: absolute; top: -25px; left: -80px;
}

.chemicalx {
    display: flex;
    height: 300px;
    width: 290px;
    top: 150px;
    right: 50px;
    border: solid #3882F6 5px;
    border-radius: 8px;
}

.learn {
    display: flex;
    color: white;
    background-color: #3882F6;
    height: 30px;
    width: 100px;
    flex-shrink: 0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-weight:700;
}

.movementofbutton {
    display: flex;
    margin-bottom: 25px;
    margin-right: 50px;
    flex-shrink: 0;
}

.aboutbox {
    display: flex;
    height: 200px;
    max-width: 900px;
    align-items: center;
    justify-content: flex-start;
    padding-top: 60px;
}

.about {
    display: flex;
    color: white;
    font-size: 20px;
}

.aboutbutton {
    display: block;
}

/* Body Two */
.bodytwo {
    display: flex;
    background-color: rgb(219, 217, 217);
    width: 100%;
    height: 300px;
    padding: 20px;
    flex-wrap: wrap;
}

.imageone, .imagetwo, .imagethree, .imagefour {
    display: flex;
    border: solid #3882F6 5px;
    border-radius: 8px;
    height: 150px;
    width: 150px;
    justify-content: center;
    background-color: white;
}

.imagefour {
    overflow: hidden;
}

.textone, .texttwo, .textthree, .textfour {
    display: flex;
    width: 150px;
    text-align: center;
    font-weight: 700;
}

.allimages, .alltexts {
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: space-evenly;
    padding-right: 40px;
}